<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="static/css/style.css">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Free Music Web</title>
</head>
<body>
    
    <h1>Free Music Web</h1>

    <br>
    <br>

    <form action="/get" method="get">
    <label for="url">Url: </label>
    <input type="text" name="url" id="url" onfocus="this.select()">
    <input type="submit" value="Get Music">
    </form>

    <br>
    <br>
    

</body>
</html>